<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Lista de Tarefas</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/consulta-tarefa" class="btn btn-info">Consultar Lista de
                Tarefas</a></li>
            <li class="list-inline-item"><a routerLink="/cadastro-tarefa" class="btn btn-info">Adicionar Lista de
                Tarefa</a></li>
            <li class="list-inline-item"><a routerLink="/consulta-tarefa-item" class="btn btn-info">Consultar Itens de
                Tarefas</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>