<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome de Tarefa</th>
                    <th scope="col">Adicionar Item</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of tarefas">
                    <td>{{ tarefa.id }}</td>
                    <td>{{ tarefa.nome }}</td>
                    <td><button (click)="adicionarItemTarefa(tarefa.id)" class="btn btn-info">Adicionar Item</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>