<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="tarefa.nome" required #name="ngModel"
                    placeholder="Digite o nome">
            </div>
            <div [hidden]="!name.pristine" class="alert alert-danger">Nome obrigatório</div>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Salvar</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>