<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição de Item</th>
                    <th scope="col">Tarefa</th>
                    <th scope="col">Deletar Item</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itens">
                    <td>{{ item.id }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.tarefa.nome }}</td>
                    <td><button (click)="deletarItem(item.id)" class="btn btn-info">Deletar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>