<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="name">Descrição</label>
                <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="item.descricao" required #name="ngModel"
                    placeholder="Digite a descrição do item">
            </div>
            <div [hidden]="!name.pristine" class="alert alert-danger">Descrição obrigatória</div>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Salvar</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>